.input-label{
	font-weight: 300 !important;
	font-family: 'RobotoRegular_0';
    line-height: 1.5;
    font-size: 12px;
  	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	color: #41555E;
}