body {
	background: #fff;
    margin: 16px;
}


.header {
	h1 {
		font-size: 31px;
	}

	img {
	    height: 45px;
	}

	.account-print {
		.agency {
			margin-right: 16px;
		}
	}

	hr {
		border-width: 2px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.btn-print {
    position: fixed;
    bottom: 16px;
    right: 16px;
}


.content {
	margin: 0px;
}
